body {
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	background: linear-gradient(135deg, #667eea, #764ba2e8);
}

header {
	background-color: #333333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.main_title {
	margin: 20px;
	color:#f8f8f8
}

h1 {
	font-size: 24px;
}

h2.h2_title {
	margin-bottom: 10px;
}

.section {
	margin-bottom: 20px;
}

.h3_title {
	font-weight: bold;
}

.list_item {
	list-style: none;
	padding: 0;
}

.list_item li {
	margin-bottom: 5px;
}

.about_text {
	line-height: 1.6;
}

.topbar{
	display: flex;
	justify-content: flex-end;
}

.btn {
	margin: 5px;		
	width: 100px;
	height: 20px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid hsl(268, 100%, 61%);
	border-radius: 5px;
	color: #fff;
	background-color: hsl(268, 100%, 61%);
	transition: background-color 0.3s, color 0.3s;
}

.btn :hover {
	background-color: #01242b;
	color: #fff;
}

.btn:active {
	background-color: #003238;
}