/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Georgia, sans-serif;
}

.start_section {
  margin: auto;
  padding: 0 20px 0 0;
  width: 1280px;
  height: 908px;
  gap: 0px;
  background: url(assets/img/shhh.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  color: #ffffff;
}

/* Header styles */
header {
  padding: 20px 40px 0 40px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  display: flex;
  gap: 20px;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: #FAFAFA;
}

.topbar .nav_menu .btn:active {
  text-decoration: underline 3px;
  text-decoration-color: #F1CDB3;
  color: #FAFAFA;
  transition: background-color 0.3s;
}

/* Logo styles */
.btn_title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}

.btn_subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF;
}

/* Start screen styles */
.start_screen {
  text-align: center;

}

.start_screen-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 728px;
  margin-top: 110px;
  padding: 0 40px 0 40px;
}

.start_screen .start_screen-content .content {
  width: 460px;
  height: 322px;
  top: 163px;
}

h2 {
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.subheading {
  margin-bottom: 20px;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 42px;
}

#start-screen-puppy {
  width: 698px;
  height: 728px;
  left: 502px;
  gap: 0px;
  
}

.start_screen .start_screen-content .content .btn {
  width: 207px;
  height: 52px;
  top: 270px;
  padding: 15px 45px 15px 45px;
  gap: 10px;
  border-radius: 100px;
  color: black;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  text-align: center;
  white-space: nowrap;
}

#button_primary:hover {
  /* Example effect for hover state */
  background-color: #FDDCC4;
  transition: background-color 0.3s
}

#button_primary:active {
  border: 2px solid #F1CDB3;
  background: white;
}



.about {
  margin: auto;
  width: 1280px;
  height: 588px;
  background: #FFFFFF;
  gap: 0px;
}

.about_content {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 408px;
  margin-top: 80px;
  padding: 0 10px 0 20px;
  gap: 0px;
}

.about_content .about_content {
  display: flex;
  flex-direction: column;
}

.paragraph-l {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #4C4C4C;

}


.about_text h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454
}


img#pets {
  margin: 80px 120px 100px 215px;
}

.pets {
  margin: auto;
  width: 1280px;
  height: 877px;
  top: 1496px;
  padding: 80px 40px 100px 40px;
  gap: 0px;
  
  background-color: #F6F6F6;
}

.pets_content {
  width: 1200px;
  height: 697px;
  top: 80px;
  left: 40px;
  gap: 0px;
  
  text-align: center;

}

.pets .pets_content h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.slider {
  width: 1200px;
  height: 435px;
  top: 150px;
  gap: 0px;
  
  margin-top: 60px;
}

.slide {
  width: 270px;
  height: 435px;
  position: relative;
  overflow: hidden;
  gap: 30px;
  border-radius: 9px 0px 0px 0px;
  
  position: relative;
  text-align: center;
  display: inline-block;
  /* Ensures the slides are displayed in a row */
  margin: 10px;
  /* Adjust as needed to create space between the slides */
  background: #FAFAFA;

}

.pets .pets_content .slider{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pets .pets_content .slider img {
  width: 270px;
  height: 270px;
  gap: 0px;
  border-radius: 9px 9px 0px 0px;
  
  display: block;
}

.pets .pets_content .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  padding: 0;
}

/* .pets .pets_content .arrow-right {
  display:;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  padding: 0;
} */

.arrow-left svg {
  transform: rotate(0deg);

}

.arrow svg {
  
  width: 16px;
  height: 16px;
  fill: #292929;
  /* Arrow color */
}

.arrow:hover {
  background-color: #F1CDB3;
  /* Hover background color */
}

.arrow:active {
  transform: scale(0.95);
  /* Scale down for a pressed effect */
}

.button_secondary {
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  height: 52px;
  width: 187px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  background-color: #FAFAFA;/* Цвет фона кнопки */
  color: #292929;/* Цвет текста на кнопке */
  transform: translateX(-50%);
  border: 2px solid #F1CDB3;/* Цвет и толщина границы */
  padding: 15px 45px 15px 45px;/* Отступы внутри кнопки */
  border-radius: 100px;/* Скругление углов кнопки */
  cursor: pointer;/* Изменение курсора при наведении */
  gap: 10px;
  transition: background-color 0.3s, border-color 0.3s;/* Анимация при наведении */
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.button_secondary:hover {
  background-color: #F1CDB3;
  transition: background-color 0.3s;
}

.button_secondary:active {
  background-color: #FDDCC4;/* Изменение цвета фона при наведении */
}


.pets .pets_content .btn {
  width: 261px;
  height: 52px;
  margin: 60px 470px 100px 470px;
  padding: 15px 45px 15px 45px;
  gap: 10px;
  border-radius: 100px;
  color: #292929;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.06em;
  text-align: center;
  white-space: nowrap;
  border: transparent;
  transition: background-color 0.3s, border-color 0.3s;
  /* Анимация при наведении */
}

.pets .pets_content .slider #button_primary:hover {
  /* Example effect for hover state */
  background: #FDDCC4;
}

.pets .pets_content .slider #button_primary:active {
  border: 2px solid #F1CDB3;
  background: white;
}

.help {
  width: 1280px;
  height: 611px;
  top: 2373px;
  padding: 80px 40px 100px 40px;
  gap: 0px;
  
  margin: auto;
}

.help h3 {
  font-family: Georgia, serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 40px;
}

.help-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 60px 55px 30px;
}

.icon-item img {
  max-width: 100px;
  /* Adjust as needed */
  margin-bottom: 30px;
}

.icon-item p {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.donation {
  width: 1280px;
  height: 462px;
  top: 2984px;
  padding: 80px 182px 100px 183px;
  gap: 0px;
  background: #F6F6F6;
  margin: auto;
}

.donation_content {
  width: 915px;
  height: 282px;
  top: 80px;
  left: 183px;
  gap: 0px;
  display: flex;
  justify-content: center;
}

.donation_img {
  width: 505px;
  height: 261px;
  top: 11px;
  gap: 0px;
  padding: 11px 30px 10px 0;
}

.donation_text {
  padding: 11px 0 10px 30px
}

.donation_text h3 {
  width: 300px;
  height: 90px;
  gap: 0px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.donation_text h5 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  text-align: left;
  width: 307px;
  height: 17px;
  top: 110px;
  gap: 0px;
  color: #545454;
  padding: 20px 0px 20px 0px;
}

.donation_text .credit_card {
  width: 349px;
  height: 43px;
  top: 147px;
  padding: 10px 15px 10px 15px;
  gap: 10px;
  border-radius: 9px;
  background: #F1CDB3;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}

.donation_text .credit_card:hover {
  background-color: #FDDCC4;
  transition: background-color 0.3s;
}

.credit_card svg {
  color: #292929;
}

.donation_text .credit_card .credit_button {
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.donation_text p {
  width: 380px;
  height: 72px;
  top: 210px;
  gap: 0px;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #B2B2B2;
  padding: 20px 0 0 0;
}


/* Footer styles */
footer {
  margin: auto;
  width: 1280px;
  height: 350px;
  background: url("../img/footer-gradient-background.png");
  color: #ffffff;
}

.footer__body {
  width: 1200px;
  height: 310px;
  padding: 40px;
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__body .contacts {
  width: 278px;
  height: 234px;
  top: 16px;
  padding: 0px;
  gap: 0px;
}

.footer__body .locations {
  width: 302px;
  height: 234px;
  top: 16px;
  left: 438px;
  gap: 0px;
}

.footer__title {
  font-family: Georgia, serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #ffffff;
  white-space: nowrap;
}



.footer__link {
  display: flex;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #F1CDB3;
  margin-top: 20px;
}

.footer__link span {
  margin-left: 20px;
}

.puppy img {
  width: 300px;
  height: 310px;
}
